.navigation {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #0c0e1a;
  border-left: 1px solid #1e213a;
  z-index: 1000;
  color: #fff;
  overflow-y: auto;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.5s ease-in-out, visibility 0.5s;
}

.navigation.active {
  transform: translateX(0);
  visibility: visible;
}

.navigation h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
}

@media(max-height: 750px) {
  .navigation {
    padding-top: 70px;
  }
}

@media(max-width: 768px) {
  .navigation {
    width: 100vw;
  }
  .navigation.active {
    transform: translateX(-100vw);
  }
}
@media(max-width: 650px) {
  .navigation {
    padding: 80px 24px 24px;
  }
}